html,
body {
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: default;
    background: transparent;
    background: linear-gradient(180deg, #5B93C7 0%, #9DBEDD 100%);
}

.filter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background:  #fe5757;
    animation: colorChange 30s ease-in-out infinite; */
    animation-fill-mode: both;
    mix-blend-mode: overlay;
}

@keyframes colorChange {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: .9;
  }
}

.landscape {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    /*background-image: url(https://openclipart.org/image/2400px/svg_to_png/250847/Trees-Landscape-Silhouette.png);
    background-image: url('');
    background-size: 1000px 250px;
    background-repeat: repeat-x;
    background-position: center bottom;*/
}
.dg.a,
.dg.ac{
  display: none;
}