
.icon-web-development-icon:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-devops:before { content: '\e802'; } /* '' */
.icon-customer-experience:before { content: '\e803'; } /* '' */
.icon-operational-efficiency:before { content: '\e804'; } /* '' */
.icon-future-ready-products:before { content: '\e805'; } /* '' */
.icon-agile-development:before { content: '\e806'; } /* '' */
.icon-engineering-excellence:before { content: '\e807'; } /* '' */
