@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?57445443');
  src: url('../font/fontello.eot?57445443#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?57445443') format('woff2'),
       url('../font/fontello.woff?57445443') format('woff'),
       url('../font/fontello.ttf?57445443') format('truetype'),
       url('../font/fontello.svg?57445443#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?57445443#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-web-development-icon:before { content: '\e800'; } /* '' */
.icon-arrow-right:before { content: '\e801'; } /* '' */
.icon-devops:before { content: '\e802'; } /* '' */
.icon-customer-experience:before { content: '\e803'; } /* '' */
.icon-operational-efficiency:before { content: '\e804'; } /* '' */
.icon-future-ready-products:before { content: '\e805'; } /* '' */
.icon-agile-development:before { content: '\e806'; } /* '' */
.icon-engineering-excellence:before { content: '\e807'; } /* '' */
.icon-rating-star:before { content: '\e808'; } /* '' */
.icon-app-development:before { content: '\e809'; } /* '' */
.icon-branding:before { content: '\e80a'; } /* '' */
.icon-content-marketing:before { content: '\e80b'; } /* '' */
.icon-sass-solutions:before { content: '\e80c'; } /* '' */
.icon-seo:before { content: '\e80d'; } /* '' */
.icon-software-development:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-digital-marketing:before { content: '\e810'; } /* '' */
.icon-ui-ux-design:before { content: '\e811'; } /* '' */
.icon-social-media-managemnt:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e813'; } /* '' */
.icon-linkedin:before { content: '\e814'; } /* '' */
.icon-instagram:before { content: '\e815'; } /* '' */
.icon-facebook:before { content: '\e816'; } /* '' */
.icon-data-science:before { content: '\e817'; } /* '' */
.icon-graphic-design:before { content: '\e818'; } /* '' */
.icon-media-and-production:before { content: '\e819'; } /* '' */
.icon-desktop-app:before { content: '\e81a'; } /* '' */
